.head1 {
  color: #fff;
  font-size: 53px;
  margin: 70px;
  font-family: "Coolvetica";
  font-weight: 400;

}
.head2 {
  color: #fff;
  font-size: 53px;
  font-family: "Coolvetica";
  font-weight:400;
  text-align: right;
  margin-top: -150px;
  margin-right:20px;
}
.hw1img {
  margin-left: 70px;
  position: absolute;

}
.hw1img2 {
  margin-left: 750px;

}
