<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 3</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href='index.scss'>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
</head>
<body>
    <div>
    <h1 class="header">Exploring P5</h1>
    <p class="paragraph">Exploring the concept of flocking. The twinkling boids fly from sunset
        to sunrise and flock together!</p>
        <div id="sketch-holder">

        </div>
        <div id="sketch-holder2"></div>
        <script src="hw3.js"></script>
    </div>
</body>
</html>